[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
