[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/spirv-reflect"]
	path = thirdparty/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
